
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px rgb(11, 11, 11);
  --webkit-box-shadow: 0px 8px 6px -6px rgb(10, 10, 10);
  border-bottom: 0px solid red !important;
}

h5{
  font-weight: 100;
  text-align: center;
  color: red;
  margin-top: 5px;
}
.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: 3px solid rgb(5, 5, 5);
}

.navbar-brand{
font-weight: 700;
font-family: 'roboto', sans-serif;
letter-spacing: 2px;
}


/* footer */
.footer{
  padding: 25px;
  background-color: rgb(52, 81, 58);
  color: aliceblue;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
}

.footer a:hover{
  color: rgb(9, 32, 245);
  border-bottom: 0.5px solid red !important;
}



.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #fff;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: white;
  width: 250px;
}

.form-container form button:hover {
  border: 1px solid black;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
}

.forgot-btn:hover {
  color: white !important;
}



.homeImg{
  height: 350px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Welcome_heading.svg/1022px-Welcome_heading.svg.png");
}